# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/

# virtual env
.venv/
env/
venv/
.vscode/

# jupyter & logs
.ipynb_checkpoints/
logs/*
!logs/.gitkeep

# artifacts
results/*
!results/.gitkeep
*.joblib
*.json
*.csv

# OS files
.DS_Store

# credentials
.env